
<suite name="Suite">
	<listeners>
		<listener
			class-name="com.AutomationJiviewsGeneric.ListenerImplimentation" />
	</listeners>

	<!--
	<test name="E10_2606_ShiftBandTest">
		<classes>
			<class
				name="com.JiviewsAutomation.SystemDefination_Test.E10_2606_ShiftBandTest" />
		</classes>
	</test>

	<test name="E10_2608_RoasterSetupTest">
		<classes>
			<class
				name="com.JiviewsAutomation.SystemDefination_Test.E10_2608_RoasterSetupTest" />
		</classes>
	</test>

	<test name="E10_2638_PublicHolidayTest">
		<classes>
			<class
				name="com.JiviewsAutomation.SystemDefination_Test.E10_2638_PublicHolidayTest"
			/>
		</classes>
	</test>

	<test name="E10_2639_SCRTest">
		<classes>
			<class
				name="com.JiviewsAutomation.SystemDefination_Test.E10_2639_SCRTest" />
		</classes>
	</test>

	<test name="E10_2695_EmpAdmEmployeeProfileTest">
		<classes>
			<class
	name="com.JiviewsAutomation.SystemDefination_Test.E10_2695_EmpAdmEmployeeProfileTest"
			/>
		</classes>
	</test>

	<test name="E10_2749_RoleGroupTest">
		<classes>
			<class
				name="com.JiviewsAutomation.SystemDefination_Test.E10_2749_RoleGroupTest" />
		</classes>
	</test>

	<test name="E10_2909_EmpAdmRosterGroupAssignmentTest">
		<classes>
			<class
	name="com.JiviewsAutomation.SystemDefination_Test.E10_2909_EmpAdmRosterGroupAssignmentTest"
			/>
		</classes>
	</test>

	<test name="E10_3082_SkillSetUpTest">
		<classes>
			<class
				name="com.JiviewsAutomation.SystemDefination_Test.E10_3082_SkillSetUpTest" />
		</classes>
	</test>

	<test name="E10_3089_RoleSetUpTest">
		<classes>
			<class
				name="com.JiviewsAutomation.SystemDefination_Test.E10_3089_RoleSetUpTest" />
		</classes>
	</test>

 
	<test name="E10_2910_WorkforceEmployeeRosterV2Test">
		<classes>
			<class
	name="com.JiviewsAutomation.SystemDefination_Test.E10_2910_WorkforceEmployeeRosterV2Test"
			/>
		</classes>
	</test>

	<test name="E10_3541_OPE_RTG_PlanningTest">
		<classes>
			<class
	name="com.JiviewsAutomation.SystemDefination_Test.E10_3541_OPE_RTG_PlanningTest"
			/>
		</classes>
	</test>

	<test name="E10_3147_WorkloadPlannerTest">
		<classes>
			<class
				name="com.JiviewsAutomation.SystemDefination_Test.E10_3147_WorkloadPlannerTest"
			/>
		</classes>
	</test>
	<test name="E10_3216_ESSApplyLeaveTest">
		<classes>
			<class
				name="com.JiviewsAutomation.SystemDefination_Test.E10_3216_ESSApplyLeaveTest"
			/>
		</classes>
	</test> -->
	<test name="Maritime_Setup_Test">
		<classes>
			<class
				name="com.JiviewsAutomation.SystemDefination_Test.Maritime_Setup_Test"
			/>
		</classes>
	</test> 
	
	
</suite>
