<suite name="Suite">
	<listeners>
	<listener class-name="com.AutomationJiviewsGeneric.ListenerImplimentation"/>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.JiviewsAutomation.SystemDefination_Test.RoaserSetup"/>
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
