
<suite name="Suite">
	<listeners>
		<listener
			class-name="com.AutomationJiviewsGeneric.ListenerImplimentation" />
	</listeners>
	<test name="E10_2910_WorkforceEmployeeRosterV2Test">
		<classes>
			<class
				name="com.JiviewsAutomation.SystemDefination_Test.Maritime_Setup_Test"
			/>
		</classes>
	</test>
</suite>